<div class="container">
    <h1>Contact Me!</h1>
        <form class="row g-3">
        <%= form_for @contact, url: contact_index_path, remote: true do |f| %>
            <div class="col-md-6">
                <%= f.label :first_name %>
                <%= f.text_field :first_names, required: true, class: "contact-form-text-area" %>
            </div>
            <div class="col-md-6">
                <%= f.label :last_name %>
                <%= f.text_field :last_names, required: true, class: "contact-form-text-area" %>
            </div>
            <div class="col-md-6">
                <%= f.label :email %>
                <%= f.text_field :emails, required: true, class: "contact-form-text-area" %>
            </div>
            <div class="col-md-6">
                <%= f.label :phone_number %>
                <%= f.text_field :phone_numbers, class: "contact-form-text-area",
                        placeholder: "+1 (417) 547 2536" %>
            </div>
            <div class="col-md-12">
                <%= f.label :message %>
                <%= f.text_area :comments, rows: 4, cols: 80, required: true, class: "contact-form-text-area",
                        placeholder: "Send me a message!" %>
            </div>
            <%= f.submit "Send Message", class: "btn btn-primary" %>        
        <% end %>
        </form>

    <div class= "col-md-6" id="flash-message">
        <%= render "flash" %>
    </div>
</div>

