<div class="container_header">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Brower Designs</span>
      </a>


      <ul class="nav nav-pills">
        <li><%= link_to root_path, class: "nav-link" do%> <%= icon("house", class: "house-nav-link") %> <% end %></li>
        <li><%= link_to portfolio_path, class: "nav-link" do%> <%= icon("grid-3x3-gap-fill", class: "images-nav-link") %> <% end %></li>
        <li class="nav-item"><a href="http://localhost:3000/bio" class="nav-link">Bio</a></li>
        <li><%= link_to contact_path, class: "nav-link" do%> <%= icon("calendar-plus", class: "contact-nav-link") %> <% end %></li>
                <li><%= link_to logout_path, class: "nav-link" do%> <%= icon("box-arrow-right", class: "logout-nav-link") %> <% end %></li>
        
        
      </ul>
    </header>
  </div