<!DOCTYPE html>
<html>

  <head>
    <title><%= yield(:title) %> | Brower Designs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <header>
    <% if logged_in? %>
      <%= render 'layouts/navigation' %>
    <% else %>
      <%= render 'layouts/navigation2' %>
    <% end %>

    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%=message %>
    </div>
    <% end %>

    <%= stylesheet_link_tag 'navbar.css' %>
  </header>
  
  <div class="application-container">
    <body>
      <%= yield %>
    </body>
  </div>
  
  <footer>
    <%= render 'layouts/footer' %>
    <%= stylesheet_link_tag 'footer.css' %>
  </footer>

</html>

